@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --- Colors --- */
/*

Red - #F02731
White - #FFFFFF
Black - #1E1E1E
Blue - #136DFF
Yellow - #FCBF29

Off Red - #FF4750
Off White - #EBEBEB 
Off Black - #494949
Off Yellow - #FFCD51
Off Blue - #5A99FF
*/

/* font-family: "Roboto", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
#navbar {
    padding: 32px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 26px;
    font-weight: 700;
    color: #F02731;
}

nav .logo span {
    color: #1E1E1E;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.navLinks ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.navLinks ul li {
    list-style: none;
    position: relative;
}

.navLinks ul li a {
    color: #1E1E1E;
    font-weight: 500;
    position: relative;
}

.linkCont::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 0%;
    background: linear-gradient(#F02731, #FF4750);
    transition: 0.3s ease-out;
}

.linkCont:has(.anchorLinks:hover)::after {
    width: 100%;
}


.navIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.navIcons img {
    width: 26px;
    transform: translateY(0);
    transition: 0.2s;
}

.navIcons img:hover {
    transform: translateY(-1px);
}

/* Hero Section */
.hero {
    height: 80vh;
    background: linear-gradient(45deg, #bbb, #ebebeb);
    border-radius: 12px;
    padding: 64px;
    display: flex;
    align-items: center;
}

.hero-text p {
    font-size: 20px;
    font-weight: 600;
}

.hero-text p span {
    font-size: 36px;
    font-weight: 700;
    color: #F02731;
}

.hero-text h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin: 8px 0;
}

.red-btn {
    background: linear-gradient(45deg, #F02731, #FF4750);
    color: #fff;
}



/* --- Utility Classes --- */

.container {
    margin: 0 64px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    margin-top: 48px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    transform: translateY(0);
    transition: 0.3s ease-out;
}

.btn:hover {
    transform: translateY(-3px);
}